<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/comat?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">admin</property>
    <property name="hibernate.connection.password">67441173</property>
    <property name="hibernate.show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="br/edu/ifpr/comat/entity/Cidade.hbm.xml"/>
    <mapping resource="br/edu/ifpr/comat/entity/Endereco.hbm.xml"/>
    <mapping resource="br/edu/ifpr/comat/entity/Estado.hbm.xml"/>
    <mapping resource="br/edu/ifpr/comat/entity/Cliente.hbm.xml"/>
    <mapping resource="br/edu/ifpr/comat/entity/ClienteFisica.hbm.xml"/>
    <mapping resource="br/edu/ifpr/comat/entity/ClienteJuridica.hbm.xml"/>
    <mapping resource="br/edu/ifpr/comat/entity/Contato.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
